@charset="UTF-8"
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
margin:0;
font-family: 'Julius Sans One', sans-serif;
}

* {
margin:0; 
padding:0;
}

li {
list-style:none;
}

a {
text-decoration:none;
}

/* 첫번째 section 부분 */

 /* 여기서 부터 애니메이션을 만들 css부분입니다. */ 
 .summary {
    visibility:hidden;  /*숨겨놨다가*/
  }
  .slide-key {
      animation-name: slide-key;
      -webkit-animation-name: slide-key;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-fill-mode:forwards;  -webkit-animation-fill-mode:forwards;
      visibility: visible;   /*1초동안 나타나라*/
  }
  .slide-key-down {
      animation-name: slide-key-down;
      -webkit-animation-name: slide-key-down;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
    animation-fill-mode:forwards;  -webkit-animation-fill-mode:forwards;  /*기본값으로 돌아오지 않음(opacity=0이 되는것)*/
  }
  
  @keyframes slide-key {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;  
    }
  }
  @-webkit-keyframes slide-key {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1; 
    }
  }
  @keyframes slide-key-down {
    0% {
      opacity: 1; 
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes slide-key-down {
    0% {
      opacity: 1; 
    }
    100% {
      opacity: 0;
    } /*애니메이션-투명도 1초동안 0에서 100*/
  }

h1{
margin-bottom:0;
margin-top:0;
}

.allheader .wow{
position:absolute;
color:#fff;
left:58%;
top:35%;
font-size:45px;
}

.allheader span{
font-size:70px;
}

.headerimg img {
width:100%;
}

.boxA {
margin:0 auto;
width:60%;
}

.boxA:after{
clear:both;
content:"";
display:block;
}

.boxA-1{
width:100%;
padding-bottom:30px;
}

.headertxt {
padding:50px;
text-align:center;
}

/*이벤트 박스*/

.slider{
margin-bottom:20px;
}

.em{
width:100%;
margin-bottom:20px;
}

.em_1{
float:left;
width:33%;
height:50px;
background:#ebe3de;
font-size:25px;
text-align:center;
padding-top:10px;
margin-bottom:30px;
cursor:pointer;
margin:0.1%;
margin-bottom:20px;
color:#fff;
transition:.3s;
}

.em_1:hover{
color:#c9885f;
}

.summary	{
margin-bottom: 20px; 
width:49%; 
float:left; 
border:2px solid #cdc8c3;
box-sizing:border-box;
margin-left:0.5%;
margin-right:0.5%;
}


.summary a	{display: block;
	color: #000000;
	text-decoration: none;
	background-color:#fff;
	text-align:center;
	padding-bottom:10px;
	transition:.3s;
	}

.summary a:hover{
background-color:#cdc8c3;
color:#fff;
}

.summary a p,{
text-align:center;
padding-bottom:5px;
font-size: 15px;
color:#42454a;
}

.summary a h1{
text-align:center;
padding-bottom:15px;
font-size:30px;
color:#42454a;
}

.summary img	{max-width: 100%;
	height: auto;
	border: none;
	margin-bottom: 15px;
	vertical-align: bottom}

/* footer 부분 */

/*footer img {
width:30px;
float:right;
margin:5px;
}*/

/* footer 부분 */

#bottom{ width: 100%; min-width: 320px; box-sizing: border-box; background-color: #dee4e6;}
#bottom li{color: #fff; width:60%; margin:0 auto;}
#bottom .b_quick{padding:100px 20px 70px 0px; margin-bottom: 2%; border-bottom: solid 1px #fff; border-top: solid 1px #fff;}
#bottom .b_quick li{padding: 1%; display: inline; font:normal 12px/1.5em  'Julius Sans One', sans-serif; box-sizing: border-box;}
#bottom .b_quick li:nth-child(1){margin-left:20%;}
#bottom .b_quick li a{color: #fff; font:normal 14px/1.5em 'Nanum Gothic', sans-serif;}
#bottom_txt{width: 100%; min-width: 320px; float:left;}
#bottom_txt li{padding-left: 1%; font:normal 14px/1.5em 'Nanum Gothic', sans-serif;}
#bottom .sns{ text-align: center; margin-top: 3%;}
#bottom .sns img{width: 2%; height: 2%; margin:20px 15px 100px 15px; }

.navbar-inverse{
	background-color:black;
	border:0;
	border-radius:0;  /* 모서리를 둥글게 주는 css속성을 모서리를 둥글게 주지 않게다 */
}
.navbar{
	min-height:50px;  /* 부트스트랩에서 네비의 높이를 최소 50px이하로 조정되지 못하게 만듦 */
	margin-bottom:0; /* 부트스트랩에서 마진을 아래에 적용된 기본 값을 0으로 사용자가 적용 */
	border:0;
	z-index:999;
}
.navbar-inverse .navbar-nav>li>a {
    color: rgba(150,40,0,1);
}
.navbar-inverse .navbar-nav>li>a:hover{
	color:white;
}
.navbar-nav{width:500px; margin:0 auto; float:none;} /*float:none  margin:0 auto를 주기 위해*/
/* navbar 부분 */

.navbar-default {
    background: rgba(0, 0, 0, 0.0);
    border: none;
}

a.navbar-brand {
    padding-top: 20px;
}

a.navbar-brand img {
    height: 72px;
    width: auto;
}

.nav li a{color:#fff;}


@media (max-width: 768px) {
    a.navbar-brand {
        padding-top: 10px;
    }
    a.navbar-brand img {
        width: auto;
        height: 30px;
    }
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited {
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:visited {
    color: white;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: white !important;
    background: rgba(255, 255, 255, .2);
}

.hero-message {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dropdown-menu {
    background: rgba(0, 0, 01);
    border-radius: 0;
    border: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #334871 !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-nav {
    margin: 0 -15px;
}

.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, .4);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, .2);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, .6);
}

.navbar-nav>li>.dropdown-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    top: 80px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: white;
}


@media (max-width: 768px) {

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: rgba(255,255,255,0.5);
    }
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:visited,
    .navbar-default .navbar-nav>li>a:active {
        padding: 5px 5px !important;
        color: #fff !important;
		font-size:20px;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #334871 !important;
    }
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-nav {
        margin-top:15px;
		overflow:hidden;
    }

	 .navbar-nav li a{
		text-align:center;
		left:20%;
		margin-bottom:15px;
	 }

.summary a { overflow:hidden;}
.summary a h1 { font-size:24px;}
.summary a p { font-size:15px;}
.boxA-1 article {clear:both;float:none;display:block;width:100%;margin-top:10px;}
.em .em_1 a{font-size:18px;clear:both;float:none;display:block;width:100%;margin-top:10px;}
    
.wow{
display:none;
}

.headertxt h1{
font-size:20px;
}

}



/*미디어쿼리 끝*/


